{% extends 'base.html.twig' %}

{% block title %} Au jardin {% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Bienvenue au jardin !</h1>
		</div>
	</div>

{% endblock %}
