{% extends 'base.html.twig' %}

{% block title %} Les fleurs {% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="text-center">
				{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
				{# {{ form_start(form) }}
					<button type="submit" novalidate >save</button>
				{{ form_end(form) }} #}
			</div>
			
		</div>
	</div>
	
	{% endblock %}