<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <title>{% block title %}Garden Garty !{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>

    <body>
    	<main role="main">
            <nav class="navbar navbar-light bg-light">
                <div>
                    {% if (app.request.getLocale()) == 'en' %}
                        <a href="{{ path( app.request.get('_route'),
                                    app.request.get('_route_params')| merge({'_locale': 'fr'})
                                )
                            }}"
                            class="btn btn-outline-success" 
                            type="button">
                        FR
                        </a>
                    {% endif %}
                    {% if (app.request.getLocale()) == 'fr' %}
                        <a href="{{ path( app.request.get('_route'),
                                        app.request.get('_route_params')| merge({'_locale': 'en'})
                                    )
                                }}"
                                class="btn btn-outline-success" 
                                type="button">
                        EN
                        </a>
                    {% endif %}
                </div>
            </nav>
            
			{% block body %}
			{% endblock %}

            {% block form %}
            {% endblock %}

		</main>
        <footer class="footer">
            <div class="container text-center">
                <span class="text-muted">Made By Virginie Godfrin </span>
            </div>
        </footer>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% endblock %}
    </body>
</html>
